

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav > .brand-logo {
	font-size: 1.3rem;
}

nav{
    margin-bottom: 15px;
}

#nav-mobile .divider {
	margin: 0;
}

.butts{
  margin-bottom: 0px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 200px;
    color: black;
}


.role {
    height: 70px;
    overflow:clip;
}

.salary{
    font-size: 1.3em;
}

.company{
    height: 45px;
}

.card-action{
    text-align: center;
}

#loader_image{
    text-align: center;
}